@import "src/lib/Constants.scss";

.spell {
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 10px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    .spell-name {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .spell-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .trigger-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;

    .trigger-icon {
      font-size: $font-size-huge;
    }
    .trigger-text {
      margin-left: 20px;
      font-size: $font-size-normal;
    }
  }
  .actions {
    .action-row {
      margin-top:10px;
      margin-bottom:10px;
    }
  }
}