@import "src/lib/Constants.scss";

.navigation-bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: $max-width;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $dark-black;
    
    a {
        text-align: center;
        text-decoration: none;
        font-size: $font-size-normal;
        padding-left:20px;
        padding-right:20px;
        color: $white;
    }
    
    a.active {
        background-color: $black;
    }
}



.app-container {
    padding-top: 20px;
    padding-bottom: 20px;
}
