@import "src/lib/Constants.scss";

.area {
  padding-bottom: 20px;
  cursor: pointer;

  .area-info {
    display:flex;
    justify-content: flex-start;
    
    .area-label {
      margin-left: 20px;
    }
  }
  
  .devices {
    margin-top: 20px;
  }
}

.area:first-of-type{
  padding-top: 20px;
}

.area:last-of-type{
  padding-bottom: 20px;
}